.collapse {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
      width: 100%;    
}
.collapse_dropdown {
      width: 80%;
}

.collapse_dropdown_title {
      background-color: $primary-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
       @include small-radius;
      padding: 10px 20px;
      margin: 10px 0;
      color: $tertiary-color;
      animation: visibility .2s ease-in;
}

.collapse_dropdown_title h2 {
      font-size: $regular-font-size;
      font-weight: $regular-weight;
      line-height: 34.22px
}

.collapse_dropdown_content .open {
      position: relative;
      bottom: 10px;
      @include small-radius;
      color: $primary-color;
      padding: 5px 20px;
      background: $secondary-color;
      font-size: $medium-font-size;
      font-weight: $medium-weight;
      line-height: 132%;
      animation: visibility .3s ease-in;
      height: auto;
}

.collapse_dropdown_content .close {
      display: none;
}

p img {
      cursor: pointer;
}

.initial-position {
	transform: rotate(0deg);
	transition: .3s ease-in-out;
}

.rotated {
      transform: rotate(180deg);
	transition: .4s ease-in-out;
}

@keyframes visibility {
      from {
            opacity: 0;
           transform: translateY(-5px);
      }

      50% {
            transform: translateY(0px);
      }
      
      to {
            opacity: 1;
      }
}

