.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  // margin: 3% 7.2% 5% 8%;
  margin: 50px auto;
}

.logo {
  width: 210.32px;
  height: 68px;
}
