.active {
  text-decoration: underline;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 40px;
  font-size: $large-font-size;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: $primary-color;
  font-weight: $medium-weight;
  padding: 0.5rem;
}
