.home_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  column-gap: 60px;
  row-gap: 40px;
  background: $secondary-color;
  border-radius: 25px;
}

@media (max-width: 1024px) {
  .home_gallery {
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
    column-gap: 40px;
    row-gap: 30px;
  }
}

@media (max-width: 768px) {
  .home_gallery {
    grid-template-columns: 1fr;
    padding: 30px;
    column-gap: 30px;
    row-gap: 20px;
  }
}