.home_gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 50px;
      column-gap: 60px;
      row-gap: 40px;
      background: $secondary-color;
      border-radius: 25px;

}