.footer-container {
      @include flex-center;
      flex-direction: column;
      width: 100%;
      height: 209px;
      padding: 20px;
      background: $footer-color;
      margin-top: 40px;

      &__text {
            width: 513px;
            height: 46px;
            text-align: center;
            line-height: 34.22px;
            color: $tertiary-color; 
            margin: 45px 0 3px 0;
            font-size: $large-font-size;
            
      }

      img {
            margin-top: 25px;
            width: 122px;
            height: 39.44px;
      }
}