.banner-about-container {
  height: 223px;
  margin-bottom: 30px;
  position: relative;
}

.about_banner_img,
.banner_overlay_about {
  @include large-radius;
  height: 100%;
  width: 100%;
}

.banner_overlay_about {
  @include large-radius;
  background-color: $background-color-about;
  position: absolute;
  top: 0;
}

@media (max-width: 768px) {
  .about_banner_img,
  .banner_overlay_about {
    border-radius: 25px;
    height: 100%;
    width: 95%;
    margin: 0 1.5rem;
  }
}
