.banner-container {
  height: 223px;
  margin-bottom: 30px;
  position: relative;
}

.banner_img,
.banner_overlay {
  @include small-radius;
  height: 100%;
  width: 100%;
}

.banner_overlay {
  @include small-radius;
  background-color: $background-color;
  position: absolute;
  top: 0;
}

.banner-text {
  position: absolute;
  width: 210px;
  height: 50px;
  font-weight: 500;
  color: $tertiary-color;
  @include small-radius;
  @include font-display;
}

.banner-text p {
  position: relative;
  bottom: 140px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
